html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15%;
}

.header{
    height: 30%;
}

.header .header-top{
    margin: 0;
    height: 60%;
}

.header .header-bot{
    margin: 0;
    height: 40%;
}

.header .header-top-text{
    height: 100%;
    background-color: blue;
}

.header .header-bot-text{
    height: 100%;
    background-color: orange;
}

.main{
    height: 50%;
}

.main .sectionA{
    height: 50%;
}

.main .sectionB{
    height: 50%;
}

.main .sectionA-text{
    height: 100%;
    width: 100%;
    background-color: purple;
}

.main .sectionB-text{
    height: 100%;
    background-color: yellow;
}

.footer{
    height: 20%;
}

.footer-text{
    height: 100%;
    background-color: darkgreen;
}